body {
    background-color: grey;
}

h2 {
    color: rgba(255, 255, 255, 0.562);
    position: relative;
    top: 10px;
    left: 40px;
    font-size: 50px;
}   

.container {
    margin: 0 auto;
    width: 440px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.game-case {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    background-color: black;
    position: relative;
    top:  -340px;
    box-shadow: 0px 0px 20px 5px black;
    color: rgba(255, 255, 255, 0.651);
}

#start {
    position: relative;
    left: 40px;
    top: -25px;
    background-color: rgb(119, 119, 119);
    border: none;
}
/*
.game-sticker {
    background-color: rgb(179, 179, 179);
    width: 220px;
    height: 220px;
    border-radius: 120px;
    position: relative;
    top: -25px;
    left: 15px;
}
*/
.game-score {
    width: 50px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 30px;
    top: -20px;
    background-color: rgb(122, 132, 133);
    border: 3px solid rgb(37, 42, 43);
    text-align: right;
}

.game-btn {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background-color: black;
    border-radius: 0 220px 0 0px;
    border: 20px solid black;
}

.game-btn-1 {
    border-radius: 220px 0px 0px 0px;
    background-color: green;
    box-shadow: inset 2px 2px 10px 5px rgb(0, 26, 0), inset 20px 20px 30px rgb(0, 180, 0), 2px 2px 20px 2px black;
} 

.game-btn-2 {
    background-color: rgb(128, 0, 0);
    box-shadow: inset -2px 2px 10px 5px rgb(26, 0, 0), inset -20px 20px 30px rgb(179, 0, 0), 2px 2px 20px 2px black;
} 

.game-btn-3 {
    border-radius: 0px 0px 0px 220px;
    background-color: rgb(175, 143, 0);
    box-shadow: inset 2px 2px 10px 5px rgb(26, 16, 0), inset 20px -20px 30px rgb(207, 169, 0), 2px 2px 20px 2px black; 
}

.game-btn-4 {
    border-radius: 0px 0px 220px 0px;
    background-color: rgb(15, 15, 105);
    box-shadow: inset 2px 2px 10px 5px rgb(0, 7, 26), inset -20px -20px 30px rgb(4, 28, 133), 2px 2px 20px 2px black;
}

.game-btn-1-active, .light-up-1:active {
    background-color: rgb(0, 255, 0);
    box-shadow: inset 2px 2px 10px 5px rgb(0, 95, 0), inset 20px 20px 30px rgb(93, 255, 93), 2px 2px 20px 2px black;
}

.game-btn-2-active, .light-up-2:active {
    background-color: rgb(255, 0, 0);
    box-shadow: inset -2px 2px 10px 5px rgb(26, 0, 0), inset -20px 20px 30px rgb(255, 31, 31), 2px 2px 20px 2px black;
} 

.game-btn-3-active, .light-up-3:active {
    border-radius: 0px 0px 0px 220px;
    background-color: rgb(255, 239, 22);
    box-shadow: inset 2px 2px 10px 5px rgb(49, 26, 0), inset 20px -20px 30px rgb(252, 255, 76), 2px 2px 20px 2px black; 
}

.game-btn-4-active, .light-up-4:active {
    border-radius: 0px 0px 220px 0px;
    background-color: rgb(21, 56, 255);
    box-shadow: inset 2px 2px 10px 5px rgb(0, 20, 75), inset -20px -20px 30px rgb(78, 110, 255), 2px 2px 20px 2px black;
}

