body {
    background-color: grey;
}

h2 {
    color: rgba(255, 255, 255, 0.562);
    position: relative;
    top: 10px;
    left: 40px;
    font-size: 50px;
}   

.container {
    margin: 10% auto;
    width: 440px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.game-case {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    background-color: rgb(44, 44, 44);
    position: relative;
    top:  -340px;
    color: rgba(255, 255, 255, 0.651);
}

#start {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: relative;
    left: 50px;
    top: -20px;
    background-color: rgb(0, 131, 50);
    border: 2px solid rgb(0, 39, 0);
    box-shadow: 0px 0px 10px black;
    
}

.checkbox-strict {
    position: relative;
    left: 75px;
    top: 10px;
    height: 25px;
    width: 25px;
    background-color:rgb(0, 131, 50);
    border-radius: 20px;
    border: 2px solid rgb(0, 39, 0);
}

.checkbox-strict-checked {
    position: relative;
    left: 75px;
    top: 10px;
    height: 25px;
    width: 25px;
    background-color:rgb(131, 0, 0);
    border-radius: 20px;
    border: 2px solid rgb(39, 0, 0);
}

#strict {
    position: relative;
    left: -5px;
    top: -5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
}

.strict-label {
    position: relative;
    top: 45px;
    left: -40px;
}

.game-score {
    width: 50px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 40px;
    top: -20px;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(121, 121, 121);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: rgb(105, 0, 0);
}

.game-btn {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background-color: rgb(44, 44, 44);
    border-radius: 0 220px 0 0px;
    border: 20px solid rgb(44, 44, 44);
}

.game-btn-1 {
    border-radius: 220px 0px 0px 0px;
    background-color: green;
    box-shadow:  inset 20px 20px 30px rgb(0, 180, 0), 2px 2px 20px 2px rgb(44, 44, 44);
} 

.game-btn-2 {
    background-color: rgb(128, 0, 0);
    box-shadow:  inset -20px 20px 30px rgb(179, 0, 0), 2px 2px 20px 2px rgb(44, 44, 44);
} 

.game-btn-3 {
    border-radius: 0px 0px 0px 220px;
    background-color: rgb(175, 143, 0);
    box-shadow: inset 20px -20px 30px rgb(207, 169, 0), 2px 2px 20px 2px rgb(44, 44, 44); 
}

.game-btn-4 {
    border-radius: 0px 0px 220px 0px;
    background-color: rgb(0, 29, 109);
    box-shadow:  inset -20px -20px 30px rgb(4, 28, 133), 2px 2px 20px 2px rgb(44, 44, 44);
}

.game-btn-1-active:active, .light-up-1 {
    background-color: rgb(0, 255, 0);
    box-shadow:  inset 20px 20px 30px rgb(93, 255, 93), 2px 2px 20px 2px rgb(44, 44, 44);
}

.game-btn-2-active:active, .light-up-2 {
    background-color: rgb(255, 0, 0);
    box-shadow:  inset -20px 20px 30px rgb(255, 99, 99), 2px 2px 20px 2px rgb(44, 44, 44);
} 

.game-btn-3-active:active, .light-up-3 {
    border-radius: 0px 0px 0px 220px;
    background-color: rgb(255, 239, 22);
    box-shadow:  inset 20px -20px 30px rgb(252, 255, 76), 2px 2px 20px 2px rgb(44, 44, 44); 
}

.game-btn-4-active:active, .light-up-4 {
    border-radius: 0px 0px 220px 0px;
    background-color: rgb(21, 56, 255);
    box-shadow:  inset -20px -20px 30px rgb(78, 110, 255), 2px 2px 20px 2px rgb(44, 44, 44);
}

.btn-power {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: relative;
    left: 60px;
    top: -20px;
    background-color: rgb(38, 98, 116);
    border: 2px solid rgb(0, 30, 39);
    box-shadow: 0px 0px 10px black;
    font-weight: bold;
}

